[Unit]
Description=BuildKit
Requires=buildkit.socket
After=buildkit.socket
Documentation=https://github.com/moby/buildkit

[Service]
Type=notify
ExecStart=/usr/bin/buildkitd --containerd-worker=true --oci-worker=false --containerd-worker-namespace=buildkit --addr fd://

# containerd-worker-namespace should be moby, but it is not ok due to https://github.com/containerd/nerdctl/issues/2550

[Install]
WantedBy=multi-user.target
